.trainer {
    .wrapper {
        padding: 60px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .description {
            width: 60%;
        }
    }
}